<!DOCTYPE html>
<html>
	<!-- <head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
	</head> -->
	<body>
		<footer class="hero is-fixed-bottom">
			<section class="hero-foot">
				<div class="footer columns">
					<div id="footer" class="column is-6 has-text-left" >
						<a class="text-footer first-link" href=#>
							<i class="fa fa-linkedin fa-fw"></i>
						</a>
						<a class="text-footer" href="https://www.facebook.com/nowwhatjobs/">
							<i class="fa fa-facebook fa-fw"></i>
						</a>
					</div>
					<div id="footer" class="column is-6 has-text-right">
						<span class="text-footer left-side">Now What? 2017</span>
					</div>
				</div>
			</section>
		</footer>
	</body>
</html>