<!DOCTYPE html>
<html>
	<body>
		<header>
			<section class="hero is-fixed-top is-bold">
				<div class="hero-head">
					<nav class="navbar">
						<div class="container">
							<div class="navbar-brand">
								<a class="navbar-item home_title" href="../">
									<%= image_tag("1.png", :class => "logo1")%>
								</a>
							</div>
							<div class="burger navbar-burger" id="burger" onclick="toggleBurger()">
								<span ></span>
								<span></span>
								<span></span>
							</div>
							<div id="navbarMenu" class="navbar-menu has-text-centered">
								<div class="navbar-end">
									<a class="navbar-item menu_title" href="../">Home</a> 
									<!-- <span id="border">Home</span> -->
									<a class="navbar-item menu_title" href="/about/aboutus">Sobre nós</a>
									<% if user_signed_in? %>
									<a class="navbar-item menu_title" href="/eventos">Inscrições</a>
									<%= link_to_if(current_user.present?, 'Profile', perfil_path(current_user.perfil), class: 'navbar-item menu_title') %>
									<%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-item menu_title') %>
									<% else %>
									<a class="navbar-item menu_title" href="/users/sign_in">Login</a>
									<a class="navbar-item menu_title" href="/users/sign_up">Register</a>
									<% end %>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</section>
		</header>
	</body>
</html>





