<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
	</head>
	<body>
		<header>
			<section class="hero is-fixed-top is-bold">
				<div class="hero-head">
					<nav class="navbar">
						<div class="container">
							<div class="navbar-brand">
								<a class="navbar-item home_title" href="../">
									<%= image_tag("1.png", :class => "logo1")%>
								</a>
							</div>
							<div class="burger navbar-burger" id="burger" onclick="toggleBurger()">
								<span ></span>
								<span></span>
								<span></span>
							</div>

							<div id="navbarMenu" class="navbar-menu has-text-right">
								<div class="navbar-end">
									<a class="navbar-item menu_title" href="../">Home</a> 
									<!-- <span id="border">Home</span> -->
									<a class="navbar-item menu_title" href="/about/aboutus">About</a>
									<% if user_signed_in? %>
											<%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-item menu_title') %>
										<% else %>
											<a class="navbar-item menu_title" href="/users/sign_in">Login</a>
											<a class="navbar-item menu_title" href="/users/sign_up">Register</a>
									<% end %>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</section>
		</header>
	</body>
</html>





