<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>
	<body>	
		<%= render "header" %>
		<main>
			<section class="hero bg-img pic1">
				<div class="hero-body">
					<div class="container has-text-right position-text">
						<h1 id=color1 class="big_words gray">
								LEARN.
						</h1>
						<h1 id=color2 class="big_words white">
								TALK.
						</h1>
						<h1 id=color3 class="big_words white">
							INITIATE.
						</h1>
					</div>
				</div>
			</section>
	
			<section class="hero is-small color1">
				<div class="hero-body">
					<div class="container has-text first-section">
						<h2 class="subtitle text-size">
							O Now What? é uma feira de emprego que pretende ir além do conceito de uma feira de emprego convencional, ambicionando clarificar o mundo do empreendedorismo, bem como promover a interação entre as várias estruturas empregadoras, através de um conjunto de atividades formativas, informativas e competitivas.
						</h2>
					</div>
				</div>
			</section>

			<section class="hero is-medium secDates pic2">
				<div class="hero-body">
					<div class="columns">
						<div id=dates class="column is-6 has-text-right">
							<div class="columns">
								<div id="date-column" class="column is-6">
									<h1 id=date1 class="big_words white">
										12
									</h1>
									<h1 id=date2 class="big_words gray">
										14
									</h1>
								</div>
								<div id="date-column" class="column is-6 has-text-left">
									<h1 id=date3 class="big_words gray">
										13
									</h1>
									<h1 id=date4 class="big_words white">
										15
									</h1>
								</div>
							</div>
						</div>
						<div id=dates class="column is-6 month">
							<h1 id=month class="big_words white">
								MARÇO
							</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="hero is-small color1">
				<div class="hero-body">
					<div class="container has-text second-section">
						<h2 class="subtitle text-size">
								Ocorrerão actividades que visam um conjunto de pontos que convergem apenas num - saídas profissionais. Isto é feito através da clarificação das hipóteses que os estudantes têm ao seu dispor após a conclusão da sua licenciatura/mestrado e, até mesmo das oportunidades que têm ao longo destes.

							<br>
							<br>
									De 12 a 15 de abril, a atenção dos estudantes de Engenharia Informática e de Design e Multimédia estará orientada para os
								eventos da feira, onde ocorrerão palestras, workshops e diversas actividades que visam desmistificar e auxiliar a entrada
								no mundo de trabalho.
						</h2>
					</div>
				</div>
			</section>

			<section class="hero is-medium secDates pic3">
				<div class="hero-body">
					<div class="columns ">
						<div id="last-text" class="column is-6 has-text-right is-narrow">
							<h2 class="subtitle text-size white last-section">
								A sua criação em 2017 e contínua organização é da responsabilidade do Núcleo de Estudantes de Informática da Associação Académica
								de Coimbra e realiza-se no Departamento de Engenharia Informática da Universidade de Coimbra.

							</h2>
							<h2>
								<div class="size-subtitle inline">
									<a class="white" href="mailto:nei.academia@gmail.com"> <span>nei.academia@gmail.com</span>
									<i class="fa fa-envelope white" aria-hidden="true"></i></a>
									<br>
									<span class="white"> 239 790 002 
										<i class="fa fa-phone white" aria-hidden="true"></i>
									</span>
								</div>
							</h2>
						</div>
						<div id="last-text" class="column is-6 has-text-centered" >
							<h1>
								<%= link_to(image_tag("NEIAAC.png", :class => "nei"), "https://nei.dei.uc.pt/")%>								
							</h1>
						</div>
					</div>
				</div>
			</section>
		
		</main>	
	</body>
</html>
