<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">

</head>
<body>
  <div class="bg-img">
  <section class="hero is-large">

  <div class="hero-body">

      <div class="container has-text-right">
        <h1 class="title">
          LEARN.
        </h1>
        <h1 class="title">
          TALK.
        </h1>
        <h1 class="title">
          INITIATE.
        </h1>
        
      </div>
  </div>
  </section>
</div>
</body>
</html>