<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<title></title>
	    <link rel="stylesheet" type="text/css" href="stylesheet/header.css">

 </head>
<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            Now What
          </a>
        </div>
        <div class="navbar-end navbar-menu" >
            <a class="navbar-item ">
              Home
            </a>
            <a class="navbar-item" >
              About Us
            </a>
            <a class="navbar-item">
              Calendar
            </a>
            <a class="navbar-item">
              Contacts
            </a>
            <a class="navbar-item">
              Help
            </a>
            <a class="navbar-item">
              Sign-in
            </a>
            <a class="navbar-item">
              Sign-up
            </a>
        </div>
	</nav>
</body>
</html>