<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/header.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar is-fixed-top">
			<div class="navbar-brand">
				<a class="navbar-item home_title" href="../">
					Now <br> What
				</a>
			</div>
			<div class="navbar-end navbar-menu" >
				<%= link_to "Home", eventos_path %>
				<a class="navbar-item menu_title">About Us</a>
				<a class="navbar-item menu_title">Contacts</a>
				<a class="navbar-item menu_title">Calendar</a>
				<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
				<% else %>
					<%= link_to('Login', new_user_session_path)  %>
					<%= link_to('Register', new_user_registration_path)  %>
				<% end %>
			</div>
		</nav>
	</header>
</body>
</html>