<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/header.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar is-fixed-top">
			<div class="navbar-brand">
				<a class="navbar-item home_title">
					Now<br> What?
				</a>
			</div>
			<div class="navbar-end navbar-menu ">
				<a class="navbar-item menu_title border" href="../">Home</a>
				<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
				<% else %>
					<a class="navbar-item menu_title border" href="/users/sign_in">Login</a>
					<a class="navbar-item menu_title border" href="/users/sign_up">Register</a>
				<% end %>
			</div>
		</nav>
	</header>
</body>
</html>





