<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>

	<body>	
		<%= render "header" %>
		<section class="hero is-medium bg-img">
			<div class="container has-text-right">
				<h1 class="big_words is-first">
					LEARN.
				</h1>
				<h1 class="big_words">
					TALK.
				</h1>
				<h1 class="big_words">
					INITIATE.
				</h1>
			</div>
			<div class="container has-text-centered">
				<h1 class="big_words" style="padding-bottom: 20vh">v</h1>
			</div>
		</section>
		
		<main>
			<section class="hero is-info is-large">
				<div class="hero-body">
					<div class="columns">
						<div class="column is-1 has-text-centered">
						<h1 class="dates rotate">12 Março</h1>
						</div>
						<div class="column is-8">
							<div class=" has-text-centered" style="background-color: #64C4B9">
								<h1 class="big_words is-first" style="color: black">
									LEARN.
								</h1>
								<h1 class="big_words" style="color: black">
									TALK.
								</h1>
								<h1 class="big_words" style="color: black">
									INITIATE.
								</h1>
								<br>
							</div>
						</div>
						<div class="column is-1 has-text-centered">
							<h1 class="dates rotate">15 Março</h1>
						</div>
					</div>
					
				</div>
			</section>
			<!-- <section class="hero is-large">
				<div class="hero-body">
					<div class="container has-text-vcentered">
						<h1 class="big_words is-first" style="color: black">
							LEARN.
						</h1>
						<h1 class="big_words" style="color: black">
							TALK.
						</h1>
						<h1 class="big_words" style="color: black">
							INITIATE.
						</h1>
						<br>
					</div>
				</div>
			</section> -->

		</main>	

	</body>
</html>
