<!DOCTYPE html>
<html>
<head>
	<title>NowWhat</title>
	<link href="styles/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<%= render "header" %>
	<%= render "bodyHome" %>
</body>
</html>
