<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>

	<body>	
		<%= render "header" %>
		<div class="hero-body bg-img">
			<div class="container has-text-right">
				
				<h1 class="big_words is-first">
					LEARN.
				</h1>
				<h1 class="big_words">
					TALK.
				</h1>
				<h1 class="big_words">
					INITIATE.
				</h1>
				<br>
			</div>
		</div>
	</body>
</html>
