<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>

	<body>	
		<%= render "header" %>
		<section class="hero bg-img">
			<div class="hero-body" style="padding:0; ">
				<div class="container has-text-right" style="padding: 15vh;">
					<h1 id=color1 class="big_words gray">
						LEARN.
					</h1>
					<h1 id=color2 class="big_words white">
						TALK.
					</h1>
					<h1 id=color3 class="big_words white">
						INITIATE.
					</h1>
				</div>
				<!-- <div class="container has-text-centered">
					<div class="one">
						<i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
					</div>
					<div class="two" style="margin-top:-6vh;">
						<i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
					</div>
					<div class="three" style="margin-top:-6vh;">
						<i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
					</div>
				</div> -->
			</div>
		</section>
		
		<main>
			<section class="hero is-small color1">
				<div class="hero-body" style="position: relative;">
					<div class="columns">
							<div class="column is-12">
								<div class="container has-text" style="padding:5vh;">
									<h2 class="subtitle text-size">
										O Now What? é uma feira de emprego que pretende ir além do conceito de uma feira de emprego convencional, ambicionando clarificar o mundo do empreendedorismo, bem como promover a interação entre as várias estruturas empregadoras, através de um conjunto de atividades formativas, informativas e competitivas.
									</h2>
								</div>
							</div>
					</div>
				</div>
			</section>

			<section class="hero is-medium secDates pic1">
				<div class="hero-body">
					<div class="columns">
						<div class="column is-6">
							<div class="columns">
								<div class="column is-6 has-text-right">
									<h1 id=date class="big_words white">
										12
									</h1>
									<h1 id=date class="big_words gray">
										13
									</h1>
								</div>
								<div class="column is-6 ">
									<h1 id=date class="big_words gray">
										14
									</h1>
									<h1 id=date class="big_words white">
										15
									</h1>
								</div>
							</div>
						</div>
						<div class="column is-6 " style="padding-top:12vh;">
							<h1 id=date class="big_words white" style="padding-right: 2vh;">
								MARÇO
							</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="hero is-small color1">
				<div class="hero-body" style="position: relative;">
					<div class="columns">
						<div class="column is-12">
							<div class="container has-text" style="padding:5vh;">
								<h2 class="subtitle text-size">
									 Ocorrerão actividades que visam um conjunto de pontos que convergem apenas num - saídas profissionais. Isto é feito através
									da clarificação das hipóteses que os estudantes têm ao seu dispor após a conclusão da sua licenciatura/mestrado e, até mesmo
									das oportunidades que têm ao longo destes. Ocorrerão actividades que visam um conjunto de ponadsfgh das oportunidades que
									têm ao longo destes.
									<br>
									<br>
										 De 12 a 15 de abril, a atenção dos estudantes de Engenharia Informática e de Design e Multimédia estará orientada para os
										eventos da feira, onde ocorrerão palestras, workshops e diversas actividades que visam desmistificar e auxiliar a entrada
										no mundo de trabalho.
								</h2>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- <section class="hero is-medium secDates pic2">
				<div class="hero-body">
					<div class="columns">
						<div class="column is-6 has-text-right">
							<h1 id=color3 class="big_words white">
								14
							</h1>
							<h1 id=color3 class="big_words white">
								15
							</h1> 
						</div>
						<div class="column is-6 " style="padding-top:12vh;">
							<h1 id=color1 class="big_words gray">
								MARÇO
							</h1>
						</div>
					</div>
				</div>
			
				</div>
			</section>
			<section class="hero is-small color1">
				<div class="hero-body" style="position: relative;">
					<div class="columns">
						<div class="column is-12">
							<div class="container has-text" style="padding:5vh;">
								<h2 class="subtitle text-size" style="font-size: 3vh;">
									A sua criação em 2017 e contínua organização é da responsabilidade do Núcleo de Estudantes de Informática da Associação Académica
									de Coimbra e realiza-se no Departamento de Engenharia Informática da Universidade de Coimbra. (Logo do nei, + contactos)
									<br>
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<a style="color: black" href="mailto:nei.academia@gmail.com">
										<strong>nei.academia@gmail.com</strong>
									</a>
									<br>
									<i class="fa fa-phone" aria-hidden="true"></i>
									<strong style="color: black; margin-left: 0.4vh;"> 239 790 002 </strong>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</section> -->

			<section class="hero is-medium secDates pic3">
				<div class="hero-body">
					<div class="columns">
						<div class="column is-6 has-text-right">
							<h2 class="subtitle text-size white" style="font-size: 3vh; font-weight: 600;">
								A sua criação em 2017 e contínua organização é da responsabilidade do Núcleo de Estudantes de Informática da Associação Académica
								de Coimbra e realiza-se no Departamento de Engenharia Informática da Universidade de Coimbra. (Logo do nei, + contactos)
							</h2>
						</div>
						
						<div class="column is-6 has-text-centered" style="padding-top:12vh;">
							<h1>
								<i class="fa fa-envelope white size-subtitle" aria-hidden="true"></i>
								<a class="white" href="mailto:nei.academia@gmail.com">
									<strong>nei.academia@gmail.com</strong>
								</a>
								<br>
								<i class="fa fa-phone white size-subtitle" aria-hidden="true"></i>
								<strong class="white" style="margin-left: 0.4vh; margin-top: 2vh;"> 239 790 002 </strong>
							</h1>
						</div>
					</div>
					</div>
			</section>
			<!-- <section class="hero is-small color1">
				<div class="hero-body" style="position: relative;">
					<div class="columns">
						<div class="column is-12">
							<div class="container has-text" style="padding:5vh;">
								<h2 class="subtitle text-size">
									De 12 a 15 de abril, a atenção dos estudantes de Engenharia Informática e de Design e Multimédia estará orientada para os
									eventos da feira, onde ocorrerão palestras, workshops e diversas actividades que visam desmistificar e auxiliar a entrada
									no mundo de trabalho.
								</h2>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="hero is-medium secDates pic4">
				<div class="hero-body">
					<div class="columns">
						<div class="column is-6 has-text-right">
							<h1 id=color3 class="big_words white">
								14
							</h1>
							<h1 id=color3 class="big_words white">
								15
							</h1>
						</div>
						<div class="column is-6 " style="padding-top:12vh;">
							<h1 id=color1 class="big_words gray">
								MARÇO
							</h1>
						</div>
					</div>
				</div>
				</div>
			</section> -->
		
		</main>	
		
		<!-- <%= render "eventos/footer" %> -->

	</body>
</html>
