<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
		<!-- <link href="styles/main.css" rel="stylesheet" type="text/css"/> -->
	</head>
	
	<body>	
		<%= render "header" %>
		<div class="bg-img">
			<section class="hero is-large">
				<div class="hero-body">
					<div class="container has-text-right">
						<h1 class="big_words">
							LEARN.
						</h1>
						<h1 class="big_words">
							TALK.
						</h1>
						<h1 class="big_words">
							INITIATE.
						</h1>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
