<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>

	<body>	
		<%= render "header" %>
		<section class="hero bg-img" >
			<div class="hero-body" style="padding:0;">
				<div class="container has-text-right" style="padding: 15vh;">
					<h1 class="big_words">
						LEARN.
					</h1>
					<h1 class="big_words">
						TALK.
					</h1>
					<h1 class="big_words">
						INITIATE.
					</h1>
				</div>
				<div class="container has-text-centered" >
					<h1 class="big_words" style="padding-top: 5vh;">v</h1>
				</div>
			</div>
		</section>
		
		<main>
			<section class="hero is-medium">
				<div class="hero-body" style="margin-top:17.4vh;">
					<div class="columns">
			
						<div class="column is-12">
							<div class="container has-text" style="background-color: #64C4B9; padding:7vh;">
								<h2 class="subtitle text-size">
									O Now What? é uma feira de emprego que pretende ir além do conceito de uma feira de emprego convencional, ambicionando clarificar o mundo do empreendedorismo, bem como promover a interação entre as várias estruturas empregadoras, através de um conjunto de atividades formativas, informativas e competitivas.
								</h2>
							</div>
						</div>
					</div>
			
				</div>
			</section>
		
			<section class="hero is-small">
				<div class="hero-body" style="margin-top:1.4vh;">
					<div class="columns">
						<div class="column is-1 has-text-bottom" style="padding-top:48vh;">
						<h1 class="dates rotate-left">12MARÇO</h1>
						</div>
						<div class="column is-10">
							<div class="has-text" style="background-color: #64C4B9; padding:8vh;">
									<h2 class="subtitle text-size">
										Ocorrerão actividades que visam um conjunto de pontos que convergem apenas num - saídas profissionais. Isto é feito através da clarificação das hipóteses que os estudantes têm ao seu dispor após a conclusão da sua licenciatura/mestrado e, até mesmo das oportunidades que têm ao longo destes.
									</h2>
							</div>
						</div>
						<div class="column is-1 has-text-left" style="padding-top:2vh;">
							<h1 class="dates rotate-right">13MARÇO</h1>
						</div>
					</div>
				</div>
			</section>

			<section class="hero is-medium">
				<div class="hero-body" style="margin-top:1.4vh;">
					<div class="columns">
						<div class="column is-1 has-text-bottom" style="padding-top:51vh;">
							<h1 class="dates rotate-left" style="color: black;">12Março</h1>
						</div>
						<div class="column is-1 has-text-left" style="padding-top:16vh;">
							<h1 class="dates rotate-left" style="color: black;">14Março</h1>
						</div>
						
						<div class="column is-8">
							<div class=" has-text" style="background-color: #64C4B9; padding:2vh;">
								<h2 class="subtitle text-size" style="font-size: 3vh;">
								A sua criação em 2017 e contínua organização é da responsabilidade do Núcleo de Estudantes de Informática da Associação Académica de Coimbra e realiza-se no Departamento de Engenharia Informática da Universidade de Coimbra. (Logo do nei, + contactos) nei.academia@gmail.com 239 790 002 (Vale a pena contactos da organização?)
								</h2>
							</div>
						</div>
						<div class="column is-1 has-text-left" style="padding-top:2vh;">
							<h1 class="dates rotate-right" style="color: black;">13Março</h1>
						</div>
						<div class="column is-1 has-text-bottom" style="padding-top:37vh;">
							<h1 class="dates rotate-right" style="color: black;">15Março</h1>
						</div>
					</div>
				</div>
			</section>
			
			<section class="hero is-small">
				<div class="hero-body" style="margin-top:1.4vh; ">
					<div class="columns">
						<div class="column is-1 has-text-bottom" style="padding-top:49vh;">
							<h1 class="dates rotate-left" style="color: black;">12Março</h1>
						</div>
						<div class="column is-1 has-text-left" style="padding-top:16vh;">
							<h1 class="dates rotate-left" style="color: black;">14Março</h1>
						</div>
						<div class="column is-8">
							<div class=" has-text" style="background-color: #64C4B9; padding:6vh;">
								<h2 class="subtitle text-size" >
										De 12 a 15 de abril, a atenção dos estudantes de Engenharia Informática e de Design e Multimédia estará orientada para os eventos da feira, onde ocorrerão palestras, workshops e diversas actividades que visam desmistificar e auxiliar a entrada no mundo de trabalho.
								</h2>
							</div>
						</div>
						<div class="column is-1 has-text-left" style="padding-top:2vh;">
							<h1 class="dates rotate-right" style="color: black;">13Março</h1>
						</div>
						<div class="column is-1 has-text-bottom" style="padding-top:36vh;">
							<h1 class="dates rotate-right" style="color: black;">15Março</h1>
						</div>
					</div>
					<div class="has-text-centered">
						<div class="column">
							<h1 class="address" style="color: black;">Departamento de Engenharia Informática da Universidade de Coimbra.</h1>
						</div>
					</div>
				</div>
			</section>
		</main>	

	</body>
</html>
