<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>

	</head>

	<body>
		<%= render "eventos/header" %>
		<div class="hero-body container-obj">
			<div class="container content">
				<div class="columns is-vcentered">
					<div class="column is-7">
						<div class="about-us">
							<h1 class="title size-title">
								ABOUT
								<br>
								US
							</h1>
							
							<br>
							<h2 class="text subtitle size-subtitle">
								Com esta feira planeamos dar a conhecer, aos estudantes da nossa faculdade, todas as hipóteses que têm ao seu dispor durante
								e após o seu percurso académico. Assim planeamos expor e clarificar o mundo do empreendedorismo, bem como promover uma interação
								com as várias estruturas empregadoras.	
							</h2>
							<br>
						</div>
						
						<div class="columns options">
							<p>
								<div id=first class="arrow-down">
									<div style="margin-right: 5vh; margin-left: -1.5vh">
										<img src="/images/1-01.png">
									</div>
								</div>
								<div id=second class="arrow-downT" >
									<div style="margin-right: 5vh; margin-left: -1.5vh">	
												<%= image_tag("1-01.png", :class => "icon")%>
											</a>
									</div>
								</div>
								<div id=third class="arrow-downT">
									<div style="margin-right: 5vh; margin-left: -1.5vh">
										<a class="fa-2x">
											<i class="fa fa-user" aria-hidden="true"></i>
										</a>
									</div>
								</div>
								<div id=fourth class="arrow-downT">
									<div style="margin-right: 5vh; margin-left: -1.5vh">
										<a class=" fa-2x">
											<i class="fa fa-user" aria-hidden="true"></i>
										</a>
									</div>
								</div>
								<div id=fifth class="arrow-downT">
									<div style="margin-right: 5vh; margin-left: -1.5vh">
										<a class=" fa-2x">
											<i class="fa fa-user" aria-hidden="true"></i>
										</a>
									</div>
								</div>
									<div id=sixth class="arrow-downT">
										<div style="margin-right: 5vh; margin-left: -1.5vh">
											<a class=" fa-2x">
												<i class="fa fa-user" aria-hidden="true"></i>
											</a>
										</div>
									</div>
								<div id=seventh class="arrow-downT">
									<div style="margin-right: 5vh; margin-left: -1.5vh">
										<a class=" fa-2x">
											<i class="fa fa-user" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</p>
						</div>
					</div>
					<div class="column is-5 about-image">
						<figure class="image is-4by3">
							<img src="http://placehold.it/800x600" alt="Description">
						</figure>
					</div>
				</div>
			</div>
		</div>
		<%= render "eventos/footer" %>
	</body>

</html>