<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>

	</head>

	<body>
		<%= render "eventos/header" %>
		<div class="hero-body">
			<div class="container content">
				<div class="columns is-vcentered">
					<div class="column is-7 about-us">
						<h1 class="title size-title">
							Superhero Scaffolding
						</h1>
						<br>
						<div class="text subtitle size-subtitle">
						</div>
						<br>
						<p class="has-text-centered">
							<button class="first inner firt button is-medium is-info is-outlined">
								About
							</button>
							<button class="second inner firt button is-medium is-info is-outlined">
								Learn more
							</button>
							<button class="third inner firt button is-medium is-info is-outlined">
								Learn more
							</button>

						</p>
						<div class="arrow-down"></div>
					</div>
					<div class="column is-5 about-image">
						<figure class="image is-4by3">
							<img src="http://placehold.it/800x600" alt="Description">
						</figure>
					</div>
				</div>
			</div>
		</div>
		<%= render "eventos/footer" %>
	</body>

</html>