<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>

	</head>

	<body>
		<%= render "eventos/header" %>
		<div class="hero-body container-obj">
			<div class="container content">
				<div class="columns is-vcentered">
					<div class="column is-7">
						<div class="about-us">
							<h1 class="title size-title">
								ABOUT
								<br>
								US
							</h1>
							
							<br>
							<h2 class="text subtitle size-subtitle">
								Com esta feira planeamos dar a conhecer, aos estudantes da nossa faculdade, todas as hipóteses que têm ao seu dispor durante
								e após o seu percurso académico. Assim planeamos expor e clarificar o mundo do empreendedorismo, bem como promover uma interação
								com as várias estruturas empregadoras.	
							</h2>
							<br>
						</div>
						<div class="arrow-down"></div>
						<div class="topics">
							<p> <!-- class="has-text-centered" -->
								<button class="first inner firt button is-light is-small">
									About
								</button>
								<button class="second inner firt button is-light is-small">
									Estágios
								</button>
								<button class="third inner firt button is-light is-small">
									Experiência
								</button>
								<button class="fourth inner firt button is-light is-small">
									Soft Skills
								</button>
								<button class="fifth inner firt button is-light is-small">
									Empreendedorismo
								</button>
								<button class="sixth inner firt button is-light is-small">
									Hard Skills
								</button>
								<button class="seventh inner firt button is-light is-small">
									Continuação académica
								</button>
							</p>
						</div>
					</div>
					<div class="column is-5 about-image">
						<figure class="image is-4by3">
							<img src="http://placehold.it/800x600" alt="Description">
						</figure>
					</div>
				</div>
			</div>
		</div>
		<%= render "eventos/footer" %>
	</body>

</html>