<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>
	</head>

	<body>
		<%= render "eventos/header" %>

		<div class="hero-body content">
			<div class="container ">
				<div class="columns is-vcentered">
					<div class="column is-8 about-us">
						<!-- <div class=""> -->
							<h1 class="title is-2">
								Superhero Scaffolding
							</h1>
							<br>
							<h2 class="subtitle is-4">
								Lorem ipsum dolor sit amet, eos etiam quaeque eripuit an, usu no primis nonumes. Cum facer utroque an. Ad has mutat mazim
								comprehensam. Pro ut possit apeirian. Duo ut porro iriure, rebum reque posse mel in. Cu eros delenit signiferumque vel, facete
								iriure qui cu, sea ignota expetendis id. Sit reque urbanitas complectitur ad. Te elitr decore commodo sed, ut quidam similique
								sit. Cum ex accusamus patrioque. Id vivendum lobortis duo, mucius repudiare est ei, in has facilisi consequat.

							</h2>
							<br>
							<p class="has-text-centered">
								<a class="button is-medium is-info is-outlined">
									Learn more
								</a>
							</p>
							<div class="arrow-down"></div>
						</div>

					<!-- </div> -->

					<div class="column is-5 about-image">
						
						<figure class="image is-4by3">
							<img src="http://placehold.it/800x600" alt="Description">
						</figure>
					</div>
				</div>
			</div>
		</div>
<div class="hero-foot">
	<div class="container footer">
		<div class="tabs is-centered">
			<ul>
				<li>
					<a>And this at the bottom</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	</body>
	
		
</html>




<!-- <div class="bg-img"> -->
<!-- <div style="flex-direction: column;">
	<h1 class="big_words">
		HELLO.
	</h1>
</div>
<div style="flex-direction: column;">
	<div class="container has-text-right">
		<div class="container-slogan">
			<h1 class="big_words">
				LEARN.
			</h1>
			<h1 class="big_words">
				TALK.
			</h1>
			<h1 class="big_words">
				INITIATE.
			</h1>
		</div>
	</div>
</div>

</div> -->