ul {
    font-family: 'Montserrat', sans-serif !important;
}

.event-date {
    color: #FAD58C;
    font-size: 2em;
    font-weight: 800;
}

.event-theme {
    font-weight: 800;
    font-size: 1.8em;
}

.event-name {
    font-size: 1.2em;
}

.event-desc {}

li {
    display: inline-block;
}

.line-yellow {
    /* display: bl; */
    width: 0vh;
    height: 0vh;
    border-left: 22vw solid #FAD58C;
    border-right: 22vw solid #FAD58C;
    border-top: 1vh solid #FAD58C;
    margin-left: 5%;
}

.break-yellow {
    margin-left: 3%;
    font-size: 2em;
    color: #FAD58C;
    font-weight: bold;
}

.line-red {
    width: 0vh;
    height: 0vh;
    border-left: 22vw solid rgb(219, 103, 104);
    border-right: 22vw solid rgb(219, 103, 104);
    border-top: 1vh solid rgb(219, 103, 104);
    margin-left: 4%;

}

.break-red {
    margin-left: -3%;
    font-size: 2em;
    color: rgb(219, 103, 104);
    font-weight: bold;
}