.footer {
    height: 5vh;
    background-color: rgb(219, 103, 104) !important;
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    right: 0;
    z-index: 99;
    color: black !important;
    display: inline-block;

}

#footer{
    padding-top: 1% !important;
}

.first-link {
    margin-left: 1vh !important;
}

.text-footer {
    font-size: 1.5vh;
    border-bottom: none !important;
    margin-left: 1vh !important;
    color: black !important;
    cursor: pointer;
}

.left-side {
    margin-right:5vh !important; 
    cursor: default !important;
}