html, body {
    /* height: 100% !important; */
    width: 100% !important;
    height: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
}

header {
    height: 17.4vh;
    padding-top: 2vh;
}

.home_title {
    font-size: 5vh;
    font-weight: Bold;
    line-height: 4.4vh !important;
    color: black !important;
    text-decoration: none;
    /* border-bottom: 17px solid #E65C73; */
    border-bottom: 1.7vh solid #F79F66;
    min-height: 5vh;
}

.navbar-menu {
    margin-right: 5.7vh;
}

.menu_title {
    margin-top: 7.3vh;
    margin-bottom: -1vh;
    width: auto;
    height: 6vh;
    margin-right: 3.5vh;
    font-style: 400;
    font-size: 2.5vh;
    line-height: 2.9vh;
    color: black !important;
    /* border-bottom: 5px solid #E65C73; */
    /* border-bottom: 5px solid #F79F66; */
    border-bottom: 0.5vh solid #F79F66;
}

.menu_title:active {
    border-bottom: none !important;
}