/************************
******* Homepage ********
*************************/

main {
    /* top: 17.4vh !important; */
    position: relative !important;
    width: 100%;
    display: block;
}

section {
    width: 100%;
}

.bg-img {
    display: inline-flex !important;
    width: 100% !important;
    height: calc(100vh - 17.4vh);
}

.position-text {
    padding: 15vh;
}

.is-first {
    margin-top: 15vh !important;
}

.big_words {
    height: 10.7vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 9.4vh;
    font-weight: 800;
}

.white {
    color: white !important;
}

.gray {
    color: rgba(242, 242, 242, 0.538);
}

.rotate-left {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.rotate-right {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

.first-section {
    position: relative !important;
    padding: 5vh !important;
}

.dates {
    /* display: inline-block; */
    font-size: 5vh;
    color: black;
    font-weight: 600;
}

.month {
    padding-top: 12vh !important;
}

#month {
    padding-right: 2vh !important;
}

.second-section {
    position: relative !important;
    padding: 5vh !important;
}

.last-section {
    font-size: 3vh !important;
    font-weight: 600 !important;
    padding-top: 10vh !important;
}

.text-size {
    margin-left: 3vh;
    font-size: 2vh !important;
    text-justify: inter-word;
}

.inline {
    display: inline-block !important;
}

.fa-phone {
    margin-left: 0.5vh !important;
    margin-right: 0.5vh !important;
}

.color1 {
    background-color: rgba(250, 213, 140, 0.655);
}

.color2 {
    background-color: rgb(219, 103, 104);
}

.secDates {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(96, 49, 34, 0.559);
}

.pic1 {
    background-image: url(estagios_pic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(96, 49, 34, 0.559);
}

.pic2 {
    background-image: url(empreendedor.jpg);
}

.pic3 {
    background-image: url(helloquence.jpg);
}

.pic4 {
    background-image: url(climate.jpg);
}

.nei {
    width: 40% !important;
    height: 40% !important;
}