/************************
***** Objetivo Page *****
*************************/

.container-obj {
    padding: 0 !important;
    top: 17.4vh;
    position: relative;
    height: calc(100vh - 17.4vh);
}

.about-us {
    background-color: #F2F2F2;
    height: 55vh;
    margin-top: 5vh;
}

.about-image {
    z-index: -1;
    margin-left: -10vh;
    margin-top: -15vh;
}

.size-title {
    margin-left: 3vh;
    padding-top: 3vh;
    margin-bottom: 0 !important;
    font-size: 4vh !important;
    font-weight: Bold !important;
    /* border-bottom: 0.5vh solid #F79F66; */
}

.size-subtitle {
    margin-left: 3vh;
    font-size: 3vh !important;
    text-justify: inter-word;
}

.columns {
    margin-left: 0vh !important;
}

.arrow-down {
    display: block;
    width: 0vh;
    height: 0vh;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-top: 6vh solid #F2F2F2;
    z-index: -1;
    margin-top: -2vh;
}

.arrow-downT {
    display: block;
    width: 0vh;
    height: 0vh;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-top: 6vh solid transparent;
    margin-top: -3vh;
}

.icon {
    height: 5vh !important;
    width: 5vh !important;
}