/************************
****** Sign-in/up *******
*************************/

.body {
    width: 100% !important;
    height: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
}

.container-sign {
    height: 100% !important;
    width: 100% !important;
    flex-direction: column;
    padding: 2vh !important;
    background-color: #FAD58C;
}

.n {
    width: auto;
    display: inline-flex !important;
    font-style: italic;
    font-weight: 800;
    font-size: 35vh;
    color: white;
    pointer-events: none;
    cursor: default;
}

.w {
    width: auto;
    display: inline-flex !important;
    font-weight: 800;
    font-size: 35vh;
    color: rgb(219, 103, 104);
    margin-left: -2.5vh;
    pointer-events: none;
    cursor: default;
}

.email-field {
    width: 100%;
    font-size: 3.4vh;
    font-weight: 300;
    color: #F79F66;
    border: none;
    border-bottom: 0.4vh solid #FAD58C;
}

.btn-login {
    background-color: rgb(219, 103, 104);
    border: none;
    color: white;
    padding: 1.2vh 1.2vh;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    display: inline-block;
    width: 20vh;
}

.box-white {
    margin-top: 2vh !important;
    padding: 4.5vh 4.5vh !important;
    background-color: white;
}

.remember-text {
    font-size: 1.9vh;
    font-weight: 300;
    color: rgb(219, 103, 104);
}

.checkbox-remember {
    border-color: #FAD58C;
}

.container-nw {
    margin-top: -10vh !important;
    display: inline-block;
}

.container-talk {
    margin-top: -12vh !important;
}

.container-buttons {
    margin-top: 1vh !important;
}

*:focus {
    outline: none;
}

.login-lema {
    display: inline-flex !important;
    font-weight: bold;
    font-size: 5vh;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}