/************************
****** Sign-in/up *******
*************************/

.body {
    width: 100% !important;
    height: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
}

.container-sign {
    height: 100% !important;
    width: 100% !important;
    flex-direction: column;
    padding: 2vh !important;
    background-color: #FAD58C;
}

.nw {
    width: 60% !important;
}

.lema-position {
    margin-top: -4vh ;
}

.options-sign {
    margin-top: 2vh !important;
}

.login-lema {
    display: inline-flex !important;
    font-weight: bold;
    font-size: 5vh;
    color: white;
}

.talk-color {
    color: #999999 !important;
}

.initiate-color {
    color: #555555 !important;
}

.email-field {
    width: 100%;
    /* font-size: 3.4vh; */
    font-weight: 300;
    color: #F79F66;
    border: none;
    border-bottom: 0.2vh solid #FAD58C !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    padding-top: 1.2vh !important;
    padding-bottom: 1.2vh !important;
}

.btn-login {
    background-color: rgb(219, 103, 104);
    border: none;
    color: white !important;
    padding: 1.2vh 1.2vh !important;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    display: inline-block;
    width: 20vh;
    -webkit-appearance: none !important;
    text-decoration: none !important;
}

.box-white {
    margin-top: 2vh !important;
    padding: 4.5vh 4.5vh !important;
    background-color: white;
}

.remember-text {
    font-size: 1.9vh;
    font-weight: 300;
    color: rgb(219, 103, 104);
    margin-left: 1vh;
}

.checkbox-remember {
    border-color: #FAD58C;
}

*:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

form input[type=submit],
form input[type=button],
form button {
    background-color: rgb(219, 103, 104) !important;
    border: none !important;
    color: white !important;
    padding: 1.2vh 1.2vh !important;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    display: inline-block;
    width: 20vh;
    -webkit-appearance: none !important;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 0 !important;
    background-image: none !important;
    text-shadow: none !important;
    box-shadow: none !important
}

input[type=email] {
    font-size: 1.75em !important;
}

input:-webkit-autofill {
    background-color: green !important;
}

a:visite {
    color: transparent !important;
}

.remember {
    display: inline-flex !important;
}