.bg-img {
    display: inline-flex !important;
    width: 100%;
    height: calc(100% - 35vh);
    background-image: url(image.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(45, 167, 249, 0.41);
}

.container-slogan {
    flex-direction: row;
    margin-top: 147px;
    margin-right: 64px;
}

.big_words {
    height: 10.7vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 9.4vh;
    font-weight: 800;
    color: white;
}

.container-sign {
   /* 
    width: 100% !important;*/
    display: inline-flex !important;
    /* background-color: #64C4B9; */
    background-color: #73DFF9;
    /* background-color: #0D7E83; */
    /*height: calc(100vh - 17.4vh);*/
    height: 100% !important;
    width: 100% !important;
    flex-direction: column;
}

.n {
    display: inline-flex !important;
    
    font-style: italic;
    font-weight: bold;
    font-size: 16em;
    /* color: #D9E7E5 !important; */
    color: white;
}

.w {
    display: inline-flex !important;
    font-weight: bold;
    font-size: 16em;
    color: #F79F66;
    margin-left: -2.5vh;
}

/* .container-NW {
    display: flex !important;
} */

.container-field {
    margin-left: 60vh;
    display: flex !important;
}

.row-login {
    flex-direction: row;
    width: 100%;
}

.about-us {
    background-color: #F2F2F2;
    height: 55vh;
    margin-top: 15vh;
}

.about-image {
    z-index: -1;
    margin-left: -10vh;
}

.hero-body {
    padding: 0 !important;
}

.content {
    height: calc(100vh - 20.1vh) !important;
}

.email-field{
    height: 5.7vh;
    width: 55.7vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.4vh;
    font-weight: 300;
    color: #F79F66;
    border:none;
    border-bottom: 0.4vh solid #F79F66;
}
.btn-login{
    background-color: #F79F66; 
    border: none;
    color: white;
    padding: 1.5vh 2.4vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9vh;
    font-weight: 300;
    display: inline-block;
    width: 20vh;
}

.box-white{
    padding: 2.5vh 2.5vh;
    background-color: white; 
    height: 35.7vh;
    width: 60.7vh;
}

.remember-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9vh;
    font-weight: 300;
    color: #F79F66;
}
.checkbox-remember{
    border-color: #F79F66;
}

.container-login{
    margin-top: -10vh;
}
.container-nw{
    margin-top: -10vh;
}
.login-lema{
    display: inline-flex !important;
    font-family: 'Montserrat', sans-serif;
    
    font-weight: bold;
    font-size: 2em;
        
    color: white;
}
.talk{
    color: gray;
}

.init{
    color: white;
}

.arrow-down {
    width: 0vh;
    height: 0vh;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
    border-top: 10vh solid #f00;
    z-index: -1;
    position: relative;
}

.size-title {
    font-size: 5vh !important;
}

.size-subtitle {
    font-size: 3vh !important;
}

.is-first {
    margin-top: 15vh !important;
}