.bg-img {
    display: inline-flex !important;
    width: 100%;
    height: 668px;
    background-image: url(image.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background: linear-gradient(to left, rgba(100, 196, 185, 0.41), #5CEDDD); */
    box-shadow: inset 0 0 0 1000px rgba(100, 196, 185, 0.41);
}

.container-slogan {
    flex-direction: row;
    margin-top: 147px;
    margin-right: 64px;
}

.big_words {
    height: 107px;
    font-family: 'Montserrat', sans-serif;
    font-size: 94px;
    font-style: Bold;
    line-height: 117px;
    font-weight: 800;
    color: white;
}

.space_between {
    margin: 5px;
}

.container-sign {
    flex-direction: column;
    display: flex !important;
    width: 100%;
    background-color: #64C4B9;
    height: calc(100vh - 174px);
}

.n {
    position: relative;
    width: 202px;
    height: 305px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 250px;
    color: #F2F2F2;
}

.w {
    /* margin-left: 175px; */
    position: relative;
    width: 291px;
    height: 305px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 250px;
    color: #ED5586;
}

.container-NW,
.container-field {
    margin-left: 473px;
    display: flex !important;
}

.container-field{
    margin-top: 100px;
}

.row_login {
    flex-direction: row;
    width: 497px;
}